@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>E-Wardrobe</h1>
    <p class="lead">Manage your wardrobe with this sleek web application.</p>
    <p><a class="btn btn-default" href="/Outfits">Manage your outfits! &raquo;</a></p>

</div>

<div class="row">
    <div class="col-md-3">
        <h2>Tops</h2>
        <p>
            The upper part of your outfit.
        </p>
        <p><a class="btn btn-default" href="/Tops">View now! &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Bottoms</h2>
        <p>The lower part of your outfit.</p>
        <p><a class="btn btn-default" href="/Bottoms">View now! &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Shoes</h2>
        <p>They go on your feet.</p>
        <p><a class="btn btn-default" href="/Shoes">View now! &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Accessories</h2>
        <p>Keep track of your various accessories!</p>
        <p><a class="btn btn-default" href="/Accessories">View now! &raquo;</a></p>
    </div>
</div>